infrastructure/terraform/per_workspace/modules/etl/sds/step-function.asl.json
{
  "Comment": "SDS ETL",
  "StartAt": "root",
  "States": {
    "root": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "parse-changelog-number",
          "States": {
            "parse-changelog-number": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.changelog-number",
                  "IsPresent": true,
                  "Next": "write-changelog-number"
                }
              ],
              "Default": "pass"
            },
            "write-changelog-number": {
              "Type": "Task",
              "End": true,
              "Parameters": {
                "Body.$": "$.changelog-number",
                "Bucket": "${etl_bucket}",
                "Key": "${changelog_key}"
              },
              "Resource": "arn:aws:states:::aws-sdk:s3:putObject"
            },
            "pass": {
              "Type": "Pass",
              "End": true
            }
          }
        },
        {
          "StartAt": "parse-init",
          "States": {
            "parse-init": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.init",
                  "StringEquals": "extract",
                  "Next": "extract"
                }
              ],
              "Default": "invalid-init-value"
            },
            "extract": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload.$": "$",
                "FunctionName": "${extract_worker_arn}:$LATEST"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2
                }
              ],
              "Next": "extract-result"
            },
            "extract-result": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.error_message",
                  "IsNull": true,
                  "Next": "transform"
                }
              ],
              "Default": "worker-failed"
            },
            "transform": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload.$": "$",
                "FunctionName": "${transform_worker_arn}:$LATEST"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2
                }
              ],
              "Next": "transform-result"
            },
            "transform-result": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.error_message",
                  "IsNull": true,
                  "Next": "load"
                }
              ],
              "Default": "worker-failed"
            },
            "load": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload.$": "$",
                "FunctionName": "${load_worker_arn}:$LATEST"
              },

              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2
                }
              ],
              "End": true
            },
            "worker-failed": {
              "Type": "Pass",
              "End": true
            },
            "invalid-init-value": {
              "Type": "Fail",
              "Error": "InvalidInitValue",
              "Cause": "Invalid Value of Init"
            }
          }
        }
      ],
      "Next": "notify"
    },
    "notify": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${notify_arn}:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "success"
    },
    "success": {
      "Type": "Succeed"
    }
  }
}
